<div class="dasboard">
    <div class="charts--container">
      <h1><img src="images/gifs-de-engrenagem-0.gif" alt="icon" class="icon">Dashboard.</h1>
      <div class="chart-iten-1">
        <canvas id="myChart"></canvas>
        <canvas id="myChart3"></canvas>
      </div>
      <div class="chart-iten-2">
        <canvas id="myChart2"></canvas>
      </div>
    </div>
</div>